<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Header</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="./header.css" /> -->
</head>
<body>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/index.html">KEA CHATTEN</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/user-page.html">Home</a></li>
                        <li><a href="/create-room.html">Create room</a></li>
                        <li><a href="/addfriend.html">Add friend</a></li>
                        <li><a href="/index.html">Logout</a></li>
                    </ul>
                </div>
            </nav>
</body>

</html>